<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    <link rel="stylesheet" href="@Assets["css/Drawer.styles.css"]" />
    <link rel="stylesheet" href="@Assets["css/main.output.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body class="relative flex min-h-screen items-start justify-center bg-gray-100 p-4">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/drawing.js"></script>
</body>

</html>
